@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Models = TIO.Core.Models
@using Library.Mvc.Extensions;

@inherits TIO.Mvc.Core.ThisIsOdenseTemplatePage
@{
    Layout = null;

}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("meta", required: false)
    <title>This Is Odense \ @Umbraco.GetDictionaryValue("Sker der noget i Odense?") / @ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
	<meta name="description" content="@Umbraco.GetDictionaryValue("Sker der noget i Odense? Gu gør der så. Hvad sker der? Det står lige her. Hver eneste mandag, året rundt.")" />
    <meta name="google-site-verification" content="KWuVtTgiI6bFBjvqOlEcprkQFgInsv1hVF2dDtlh-0Y" />
    <meta name="p:domain_verify" content="7c5681ad9a1afde465ff7dabacbb9f21" />
	@RenderSection("styles", required: false)
    @Scripts.Render(Models.Constants.Js.Moderinzr)
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-44277431-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    @*<link rel="alternate" type="application/rss+xml" title="Rss feed" href="@(Site.IsEnglish ? "/en/feed" : "/feed")" />*@
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Content/images/apple_icon_57x57_png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/images/apple_icon_72x72_png)")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/images/apple_icon_114x114_png)")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/images/apple_icon_144x144_png)")" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    @Html.Hidden("IsEnglish", Site.IsEnglish)
    <div class="content">
        <div><a class="logo" href="@Url.Action("Recommendations", "Recommendations")"><img src="@Url.Content("http://www.thisisodense.dk/media/97946/forsidebillede2.png")" alt="ThisIsOdense" title="ThisIsOdense" class="logo" /></a></div>
        <div class="navigation">
            @{
                string newLangUrl = Url.Action(Html.GetRouteDataValue<string>("action"),
                                 Html.GetRouteDataValue<string>("controller"),
                                 new
                                 {
                                     lang = (Site.IsEnglish ? "da" : "en"),
                                     id = Html.GetRouteDataValue<string>("id")
                                 });

                string currentUrl = Request.RawUrl;
                if (currentUrl.IndexOf("/da/", StringComparison.InvariantCultureIgnoreCase) > -1)
                {
                    newLangUrl = currentUrl.Replace("/da/", "/en/", StringComparison.InvariantCultureIgnoreCase);
                }
                else if (currentUrl.IndexOf("/en/", StringComparison.InvariantCultureIgnoreCase) > -1)
                {
                    newLangUrl = currentUrl.Replace("/en/", "/da/", StringComparison.InvariantCultureIgnoreCase);
                }
            }
            
            <a class="flag" href="@newLangUrl">
                <img src="@Url.Content("http://www.thisisodense.dk/media/" + (Site.IsEnglish ? "97947/dk" : "97948/en") + ".png")" />
            </a>
            <ul class="topNavigation">
                <li class="@Html.IsActive(Url.Action("Recommendations", "Recommendations"))"><a href="@Url.Action("Recommendations", "Recommendations")">@Umbraco.GetDictionaryValue("EVENTS")</a></li>
                <li class="@Html.IsActive(Url.Action("Articles", "Articles"))"><a href="@Url.Action("Articles", "Articles", new { tagId = String.Empty })">@Umbraco.GetDictionaryValue("BLOG")</a></li>
                <li id="places" class="@Html.IsActive(Url.Action("Locations", "Locations"))"><a href="@Url.Action("Locations", "Locations", new { tagId = String.Empty })">@Umbraco.GetDictionaryValue("PLACES")</a></li>
					</ul>
            <br style="clear:both;" />
        </div>
        <hr style="margin-top:9px;" class="@Html.Hide(Url.Action("Locations", "Locations"))" />
        <div style="float:right" class="@Html.Hide(Url.Action("Locations", "Locations"),Url.Action("Location", "Location"),Url.Action("Articles", "Articles"),Url.Action("Article"),Url.Action("Recommendation", "Recommendation"))">
			<p class="writerOfWeek">
			<img src="@Umbraco.Content(@Umbraco.Content(1682).GetPropertyValue("editorOfTheWeek")).GetCropUrl("image", "miniatureCrop")" class="writerOfWeek">
	@Url.Content(Site.IsEnglish ? @Umbraco.Content(1682).GetPropertyValue("WeekDescriptionEN") : @Umbraco.Content(1682).GetPropertyValue("WeekDescriptionDA"))
				</br>@RenderSection("writername", false)</br>
			</p>
		</div>
        <br class="@Html.Hide(Url.Action("Locations", "Locations"))" style="clear:both;" />
        @RenderBody()
        <footer>
            <a href="@Url.Action("About", "About")">Om This Is Odense</a> // <a href="https://twitter.com/ThisIsOdense" target="_blank">Twitter</a> // <a href="http://instagram.com/thisisodense" target="_blank">Instagram</a> // <a href="https://www.facebook.com/ThisIsOdense" target="_blank">Facebook</a> // <a href="@Url.Action("Tips", "Recommendations")" target="_blank">@Umbraco.GetDictionaryValue("TIP OS!")</a>
            <br style="clear:both;" />
            <hr class="bigspace" />
            <div class="linkContainer">
                <h2>@Umbraco.GetDictionaryValue("SE OGSÅ"):</h2>
                <br style="clear:both;" />
                <br />
                <div class="links">
                    <a class="link1" href="http://ontheplate.dk/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/ontheplate.jpg")" title="On The Plate Odense" alt="On The Plate Odense">
                        On The Plate Odense
                    </a>
                    <a class="link2" href="http://oplev.odense.dk" target="_blank">
                        <img src="@Url.Content("~/Content/Images/oplevodense.png")" title="Oplev Odense" alt="Oplev Odense" />
                        Oplev Odense
                    </a>
                    <a class="link3" href="http://inmediasres.nu" target="_blank">
                        <img src="@Url.Content("~/Content/Images/inmediasres.png")" title="In Medias Res - Magasin for unge om byliv og kultur i Odense" alt="In Medias Res - Magasin for unge om byliv og kultur i Odense" />
                        In Medias Res
                    </a>
                    <a class="link4" href="http://www.visitodense.com/ln-int/funen/events/whats-odense" target="_blank">
                        <img src="@Url.Content("~/Content/Images/visitodense_0.png")" title="Visit Odense" alt="Visit Odense" />
                        Visit Odense
                    </a>
                    <a class="link5" href="http://lydiodense.dk/" target="_blank">
                        <img src="@Url.Content("~/Content/Images/lydiodense.png")" title="Lyd i Odense" alt="Lyd i Odense" />
                        Lyd i Odense
                    </a>
                    <a class="link6" href="http://livemusicodense.com/" target="_blank">
                        <img src="@Url.Content("http://www.thisisodense.dk/media/5851/12715667_1569265746727357_241684151271062218_n-1.jpg")" width="50px" height="50px" title="Live Music Odense" alt="Live Music Odense" />
                        Live Music Odense
                    </a>
                    <br style="clear:both;" />
                </div>
            </div>
            <hr class="bigspace" />
            <div class="fb-like-box-w">
                <div class="fb-page" data-width="500" data-href="https://www.facebook.com/ThisIsOdense" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ThisIsOdense" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThisIsOdense">This Is Odense</a></blockquote></div>
            </div>
        </footer>
    </div>

    @Scripts.Render(Models.Constants.Js.Jquery, Models.Constants.Js.General, Models.Constants.Js.JqueryUI)
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId: 550180138336430,                        // App ID from the app dashboard
                status: true,                                 // Check Facebook Login status
                xfbml: true,                                  // Look for social plugins on the page
                version: 'v2.3'
            });

            FB.Event.subscribe('xfbml.render', function () {
                //var fbComments = $(".fb-comments");
                //$.each(fbComments, function (index, value) {
                //    var $value = $(value);
                //    var span = $value.find("span:first");
                //    var iframe = $value.find("iframe");
                //    var height = (span.css("height").replace("px", "") - 50) + "px";
                //    span.css("height", height);
                //    iframe.css("height", height);
                //    debugger;
                //});

            })
        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/@(Site.IsEnglish ? "en_US" : "da_DK")/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var TIMEOUT = null;
        $(window).on('resize', function () {
            if (TIMEOUT === null) {
                TIMEOUT = window.setTimeout(function () {
                    TIMEOUT = null;
                    //fb_iframe_widget class is added after first FB.FXBML.parse()
                    //fb_iframe_widget_fluid is added in same situation, but only for mobile devices (tablets, phones)
                    //By removing those classes FB.XFBML.parse() will reset the plugin widths.
                    $('.fb-page').removeClass('fb_iframe_widget fb_iframe_widget_fluid');
                    if (window.FB !== undefined) {
                       FB.XFBML.parse();
                    }
                }, 300);
            }
        }).resize();

    </script>
    <script type="text/javascript">
        addthisevent.settings({
            mouse: false,
            css: false,
            outlook: { show: true, text: "Outlook Calendar" },
            google: { show: true, text: "Google Calendar" },
            yahoo: { show: true, text: "Yahoo Calendar" },
            ical: { show: true, text: "iCal Calendar" },
            hotmail: { show: true, text: "Hotmail Calendar" },
            facebook: { show: true, text: "Facebook Calendar" }
        });
    </script>
    <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b5ce6258abe637"></script>
</body>
</html>
