@using Models = TIO.Core.Models
@using Library.Tools
@using Library.Mvc.Extensions;

@inherits  TIO.Mvc.Core.BaseViewPage<TIO.Core.Models.ArticlesModel>

@{
    Layout = "~/Views/Layout.cshtml";
}

@section topImage {
<a class="logo" href="@Url.Action("Recommendations", "Recommendations")">
    <img src="@Helper.TypedContentAtRoot().FirstOrDefault().GetCropUrl(BannerId, "bannerCrop")" alt="ThisIsOdense" title="ThisIsOdense" class="logo" />
</a>
}

@section navigation {
    @Html.Partial("Navigation")
}

<nav class="category-picker">
    @foreach (var tag in Model.Tags)
    {
        @Html.ActionLink(tag.Text, "articles", "articles",
               new { tagId = tag.Id, tag = tag.Text.ToSeoUrl() },
               new { @class = "category" })

        if (Model.Tags.Last().GetHashCode() != tag.GetHashCode())
        {
            <text>//</text>
        }
    }
</nav>
<hr />
@Html.DisplayFor(model => model.Articles)
<nav class="paging">
    @if (Model.DisablePreviousButton == false)
    {
        @Html.ActionLink(Umbraco.GetDictionaryValue("Forrige"),
        Models.Constants.Controllers.Articles.Actions.ARTICLES,
        Models.Constants.Controllers.Articles.NAME,
        new { Page = Model.Page - 1 },
        new { @class = "previous"})
    }
    @if (Model.DisableNextButton == false)
    {
        @Html.ActionLink(Umbraco.GetDictionaryValue("Næste"),
        Models.Constants.Controllers.Articles.Actions.ARTICLES,
        Models.Constants.Controllers.Articles.NAME,
        new { Page = Model.Page + 1 },
        new { @class = "next"})

    }

</nav>
