
@using Models = TIO.Core.Models;
@using Controllers = TIO.Core.Models.Constants.Controllers;
@using Library.Tools;

@inherits TIO.Mvc.Core.BaseViewPage<Models.WriterModel>
@{
    Layout = "~/Views/Layout.cshtml";
    ViewBag.Title = " - " + Model.Name;
}

@section scripts {
}

@section styles {
}

@section meta {
    @*<meta property="og:title" content="@Model.Title" />
        <meta property="og:description" content="@Html.Raw(Model.LongDescription)" />
        <meta property="fb:app_id" content="550180138336430" />
        <meta property="og:url" content="@Url.Action(Models.Constants.Controllers.Location.NAME, Models.Constants.Controllers.Location.Actions.LOCATION, new { id = Model.Id, name = Model.Title.ToSeoUrl() }, Request.Url.Scheme)" />
        <meta property="og:image" content="@Model.Image" />
        <meta property="og:type" content="article" />*@
}

@section topImage {
    <a class="logo" href="@Url.Action("Recommendations", "Recommendations")">
        <img src="@Helper.TypedContentAtRoot().FirstOrDefault().GetCropUrl(BannerId, "bannerCrop")" alt="ThisIsOdense" title="ThisIsOdense" class="logo" />
    </a>
}

@section navigation {
    @Html.Partial("Navigation")
}

<article class="writerDetails">
    <div class="placeHeader">
        <div class="desc">
            <p>
                <strong class="hed">@Model.Name</strong>
                <span class="des">@Model.Title</span>
            </p>
        </div>
    </div>
    <img class="articleImg" src="@Model.DetailImage" alt="@Model.Name" />
    <div class="placeInfo">
        <div class="info arrow">
            @Umbraco.GetDictionaryValue("Medlem siden") @Model.WriterSince |
            @Html.ActionLink(string.Format("{0} {1}", Model.NumberOfRecommendation, Umbraco.GetDictionaryValue("RECOMMENDATIONS")),
                Controllers.WriterArchive.Actions.INDEX,
                Controllers.WriterArchive.NAME,
                new { id = Model.Id, name = Model.Name.ToSeoUrl(), filter = Controllers.WriterArchive.FILTER.Recommendations }, new { }) |
            @Html.ActionLink(string.Format("{0} {1}", Model.NumberOfArticles, Umbraco.GetDictionaryValue("ARTICLES")),
                Controllers.WriterArchive.Actions.INDEX,
                Controllers.WriterArchive.NAME,
                new { id = Model.Id, name = Model.Name.ToSeoUrl(), filter = Controllers.WriterArchive.FILTER.Articles }, new { }) |
            @Html.ActionLink(string.Format("{0} {1}", Model.NumberOfLocations, Umbraco.GetDictionaryValue("FAVORITEPLACE")),
               Controllers.WriterArchive.Actions.INDEX,
               Controllers.WriterArchive.NAME,
               new { id = Model.Id, name = Model.Name.ToSeoUrl(), filter = Controllers.WriterArchive.FILTER.Locations }, new { })
        </div>
    </div>
    <br />
    @Html.Raw(Model.Background)
    @Html.Raw(Model.Interests)
    <br />
    @Html.Raw(Model.WriterVideo)
    <nav class="paging">
        <a href="@Model.Link" class="next" target="_blank">@Umbraco.GetDictionaryValue("Mere om mig")</a>
        <a href="@Url.Action( Controllers.WriterArchive.Actions.INDEX, Controllers.WriterArchive.NAME,
                new { id = Model.Id, name = Model.Name.ToSeoUrl(), filter = Controllers.WriterArchive.FILTER.Recommendations })" class="next">
            @Umbraco.GetDictionaryValue("Se hvad jeg har skrevet")
        </a>
        <a href="@Url.Action("About", "About")#writers" class="previous" target="_blank">@Umbraco.GetDictionaryValue("Se hele holdet bag")</a>
    </nav>
</article>
