@using ThisIsOdense.Website.Models;
@using ThisIsOdense.Mvc.Core;

@inherits BaseViewPage<LocationModel>

<article class="place" data-title="@Model.Title" data-geo="@Model.GeoLocation" data-icon="@Model.Categories.FirstOrDefault()">
    <div class="toggleShow">
        <div class="placeHeader">
            <div data-test="@string.Join(",", @Model.Categories)" class="mapCategory @Model.Categories.FirstOrDefault()"><i class="fa"></i></div>
            <div class="desc">
                <p>
                    <strong class="hed">@Model.Title</strong>
                    <span class="des">@Model.ShortDescription</span>
                </p>
            </div>
        </div>
        <img class="articleImg" src="@Model.Image" alt="@Model.Title" />
        <div class="placeInfo">
            <div class="info arrow"><span></span></div>
            <div class="readmore">
                <a href="javascript:void(0)">Læs mere..</a>
            </div>
            <br style="clear:both" />
        </div>
    </div>

    <div class="readmore hide">
        @Model.LongDescription

        <ul class="openingHours">
            <li><span class="day">Man: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Tir: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Ons: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Tor: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Fre: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Lør: </span><span class="time">{{.}}</span></li>
            <li><span class="day">Søn: </span><span class="time">{{.}}</span></li>
        </ul>

        <a href="@Model.Url" class="left" target="_blank">Link til sted...</a>
        <a href="http://maps.google.com/maps?f=d&daddr={{address}}&zoom=13" class="right" target="_blank">Find vej</a>
        <br style="clear:both" />
        <div class="map" style="width: 100%; height: 200px">map</div>
    </div>
</article>