@using Models = TIO.Core.Models
@inherits  TIO.Mvc.Core.BaseViewPage<TIO.Core.Models.WriterModel>

<div class="writer">
    <img src="@Model.Image" title="@Model.Name" alt="@Model.Name"/>
    <div class="writerOverlay">
        <div class="writerContent">
            <div class="writerName">@Model.Name</div>
            <div class="writerTitle">@Model.Title</div>
            @Html.Raw(Model.Background)
            <br />
            @Html.Raw(Model.Interests)
        </div>
        <a class="readmorelinkActive" href="@Url.Action(Models.Constants.Controllers.Writer.Actions.WRITER, Models.Constants.Controllers.Writer.NAME, new { id = Model.Id })">@Umbraco.GetDictionaryValue("Læs mere")</a>
    </div>
</div>