@using Library.Tools;
@using Models = TIO.Core.Models;
@using Library.Mvc.Extensions;

@inherits  TIO.Mvc.Core.BaseViewPage<TIO.Core.Models.RecommendationsModel>

@{
    Layout = "~/Views/Layout.cshtml";
}

@section writername {
    <p class="writerOfWeek">
        <a href="@Url.Action(Models.Constants.Controllers.Writer.NAME, Models.Constants.Controllers.Writer.Actions.WRITER, new { id = Model.ThisWeeksEditorId, name = Model.ThisWeeksEditorName.ToSeoUrl() })"><img src="@Model.ThisWeeksEdtiorPhoto" class="writerOfWeek"></a>
        @(Site.IsEnglish ? Model.WeekDescriptionEN : Model.WeekDescription)
        <a href="@Url.Action(Models.Constants.Controllers.Writer.NAME, Models.Constants.Controllers.Writer.Actions.WRITER, new { id = Model.ThisWeeksEditorId, name = Model.ThisWeeksEditorName.ToSeoUrl() })">@Model.ThisWeeksEditorName</a>
    </p>
}

@section topImage {
    <a class="logo" href="@Url.Action("Recommendations", "Recommendations")">
        <img src="@Umbraco.TypedContentAtRoot().FirstOrDefault().GetCropUrl(BannerId, "bannerCrop")" alt="ThisIsOdense" title="ThisIsOdense" class="logo" />
    </a>
}

@section navigation {
    @Html.Partial("Navigation")
}

@Html.DisplayFor(model => model.Recommendations, new { RecommendationModel = Model })
