@using Models = TIO.Core.Models
@using System.Web.Optimization
@using Library.Mvc.Extensions;

@inherits  TIO.Mvc.Core.BaseViewPage<TIO.Core.Models.WritersModel>

@section scripts {
    @Scripts.Render(Models.Constants.Js.General)
}

@section topImage {
    <img src="@Umbraco.TypedContentAtRoot().FirstOrDefault().GetCropUrl(BannerId, "bannerCrop")" alt="ThisIsOdense" title="ThisIsOdense" class="logo" />
}

@section navigation {
    @Html.Partial("Navigation")
}

@{
    Layout = "~/Views/Layout.cshtml";
}
@Html.Raw(Model.About)
<div class="writers">
    <a href="javascript:void(-1);" id="writers" name="writers"></a>
    @Html.DisplayFor(model => model.Writers)
    <br style="clear:both" />
</div>